BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
ColumnLimit: 80
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 0xff
BinPackArguments: false
BinPackParameters: false
IndentCaseLabels: false
AlignEscapedNewlines: Left
PointerAlignment: Left
DerivePointerAlignment: true

# **DON'T** remove SortIncludes or set it to true.
# Doing so will break BOLOS_SDK code.
SortIncludes: false
