name: "Code coverage"

on: [push]

# Declare default permissions as read only.
permissions: read-all

jobs:
  coverage:
    name: Run tests and generate coverage reports
    runs-on: ubuntu-latest
    env:
      # Branches on which to upload coverage results and pass workflow regardless of result
      UPLOAD_BRANCHES: '^(master|develop-.+)$'
      # Minimum required code coverage percentage
      MIN_COVERAGE: 90

    steps:
      - name: Check branch name
        id: check_branch
        run: |
          if [[ "$1" =~ $UPLOAD_BRANCHES ]]; then
            echo "match=true" >> "$GITHUB_OUTPUT"
          else
            echo "match=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Checkout this repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0

      - name: Build the middleware docker image
        run: docker/mware/build

      - name: Configure AWS credentials
        if: steps.check_branch.outputs.match == 'true'
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 #v5.1.1
        with:
          aws-access-key-id: ${{ secrets.CODECOVERAGE_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.CODECOVERAGE_AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.CODECOVERAGE_AWS_REGION }}

      - name: Run middleware coverage script
        run: |
          middleware/test-all-coverage
          COVPCT=$(cat middleware/coverage/total)
          COVCOL=$(utils/coverage-color.sh $COVPCT)
          echo "{ \"schemaVersion\": 1, \"label\": \"Middleware coverage\", \"message\": \"$COVPCT%\", \"color\": \"$COVCOL\" }" > middleware/coverage/badge.json
          echo "Middleware code coverage is currently at $COVPCT%" > $GITHUB_STEP_SUMMARY

      - name: Upload middleware coverage report
        if: steps.check_branch.outputs.match == 'true'
        run: |
          aws s3 sync \
            middleware/coverage/ \
            s3://${{ secrets.CODECOVERAGE_S3_BUCKET }}/powhsm_head/middleware_coverage_report \
            --sse aws:kms --sse-kms-key-id ${{ secrets.CODECOVERAGE_KMS_KEY_ID }} \
            --no-progress --follow-symlinks --delete --only-show-errors

      - name: Run firmware coverage script
        run: |
          firmware/coverage/gen-coverage
          COVPCT=$(cat firmware/coverage/output/total)
          COVCOL=$(utils/coverage-color.sh $COVPCT)
          echo "{ \"schemaVersion\": 1, \"label\": \"Firmware coverage\", \"message\": \"$COVPCT%\", \"color\": \"$COVCOL\" }" > firmware/coverage/output/badge.json
          echo "Firmware code coverage is currently at $COVPCT%" > $GITHUB_STEP_SUMMARY

      - name: Upload firmware coverage report
        if: steps.check_branch.outputs.match == 'true'
        run: |
          aws s3 sync \
            firmware/coverage/output/ \
            s3://${{ secrets.CODECOVERAGE_S3_BUCKET }}/powhsm_head/firmware_coverage_report \
            --sse aws:kms --sse-kms-key-id ${{ secrets.CODECOVERAGE_KMS_KEY_ID }} \
            --no-progress --follow-symlinks --delete --only-show-errors

      - name: Invalidate CloudFront cache
        if: steps.check_branch.outputs.match == 'true'
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ secrets.CODECOVERAGE_CLOUDFRONT_DIST_ID }} --paths "/*"

      - name: Check middleware code coverage is at a minimum level
        if: steps.check_branch.outputs.match == 'false'
        run: |
          if ! awk -v mincov=$MIN_COVERAGE '$0 ~ /^[0-9]+/ && $0 >= mincov {exit 0} {exit 1}' middleware/coverage/total; then
            echo "Middleware code coverage below $MIN_COVERAGE%" > $GITHUB_STEP_SUMMARY
            exit 1
          fi

      - name: Check firmware code coverage is at a minimum level
        if: steps.check_branch.outputs.match == 'false'
        run: |
          if ! awk -v mincov=$MIN_COVERAGE '$0 ~ /^[0-9]+/ && $0 >= mincov {exit 0} {exit 1}' firmware/coverage/output/total; then
            echo "Firmware code coverage below $MIN_COVERAGE%" > $GITHUB_STEP_SUMMARY
            exit 1
          fi
