name: Lint C code

on: [push]

# Declare default permissions as read only.
permissions: read-all

jobs:
  run-c-linter:
    name: Run C linter
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0

      - name: Build the ledger docker image
        run: docker/ledger/build

      - name: Lint
        run: ./lint-c

