name: Lint C code

on: [push]

# Declare default permissions as read only.
permissions: read-all

jobs:
  run-c-linter:
    name: Run C linter
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd #v5.0.1

      - name: Build the ledger docker image
        run: docker/ledger/build

      - name: Lint
        run: ./lint-c

