name: Lint Python code

on: [push]

jobs:
  run-python-linter:
    name: Run Python linter
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2

      - name: Build the middleware docker image
        run: docker/mware/build

      - name: Lint
        run: ./lint-python

