name: Run tests

on:
  push:
  schedule:
    - cron: "17 6 * * *"

# Declare default permissions as read only.
permissions: read-all

jobs:
  run-unit-tests:
    name: Unit tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2

      - name: Build the middleware docker image
        run: docker/mware/build

      - name: Middleware tests
        run: middleware/test-all

      - name: Firmware tests using TCPSigner
        run: firmware/test/test-all

      - name: Firmware HAL's unit tests
        run: firmware/src/hal/x86/test/run-all.sh

      - name: Firmware common lib unit tests
        run: firmware/src/common/test/run-all.sh

      - name: Firmware PowHSM's unit tests
        run: firmware/src/powhsm/test/run-all.sh

      - name: Ledger UI's unit tests
        run: firmware/src/ledger/ui/test/run-all.sh

      - name: Ledger Signer's unit tests
        run: firmware/src/ledger/signer/test/run-all.sh

  run-integration-tests:
    name: Integration tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout rsk-powhsm repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2
        with:
          path: rsk-powhsm

      - name: Build required software
        working-directory: rsk-powhsm
        run: |
          docker/mware/build
          docker/packer/build
          middleware/build/manager-tcp
          firmware/build/build-tcpsigner

      - name: Checkout hsm-integration-test repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2
        with:
          repository: rootstock/hsm-integration-test
          ref: 5.1.0.plus
          path: hsm-integration-test
          ssh-key: ${{ secrets.HSM_INTEGRATION_TEST_SSH_KEY }}

      - name: Copy required files
        run: |
          mkdir hsm-integration-test/docker/manager/manager-tcp
          tar -xzf rsk-powhsm/middleware/bin/manager-tcp.tgz \
              -C hsm-integration-test/docker/manager/manager-tcp
          cp rsk-powhsm/firmware/src/tcpsigner/tcpsigner \
              hsm-integration-test/docker/tcpsigner/

      - name: Run HSM integration tests
        working-directory: hsm-integration-test
        run: sh smoke-test.sh
