name: Run tests

on: [push]

jobs:
  run-unit-tests:
    name: Unit tests
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v2

      - name: Build the middleware docker image
        run: docker/mware/build

      - name: Middleware tests
        run: middleware/test-all

      - name: Ledger tests for TCPSigner
        run: ledger/test/test-all

      - name: Ledger Signer's tests
        working-directory: ledger/src/signer/test/
        run: |
          for d in difficulty sha256 srlp svarint btcscript btctx trie; do
            (cd "$d" && make clean test)
          done

      - name: Ledger UI's tests
        working-directory: ledger/src/ui/test/
        run: |
          for d in communication onboard; do
            (cd "$d" && make clean test)
          done

      - name: Ledger common lib tests
        working-directory: ledger/src/common/test/
        run: |
          for d in memutil ints; do
            (cd "$d" && make clean test)
          done

  run-integration-tests:
    name: Integration tests
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout rsk-powhsm repo
        uses: actions/checkout@v2
        with:
          path: rsk-powhsm

      - name: Build required software
        working-directory: rsk-powhsm
        run: |
          docker/mware/build
          docker/packer/build
          middleware/build/manager-tcp
          ledger/build/build-tcpsigner

      - name: Checkout hsm-integration-test repo
        uses: actions/checkout@v2
        with:
          repository: rootstock/hsm-integration-test
          ref: 3.0.0.plus
          path: hsm-integration-test
          ssh-key: ${{ secrets.HSM_INTEGRATION_TEST_SSH_KEY }}

      - name: Copy required files
        run: |
          mkdir hsm-integration-test/docker/manager/manager-tcp
          tar -xzf rsk-powhsm/middleware/bin/manager-tcp.tgz \
              -C hsm-integration-test/docker/manager/manager-tcp
          cp rsk-powhsm/ledger/src/tcpsigner/tcpsigner \
              hsm-integration-test/docker/tcpsigner/

      - name: Run HSM integration tests
        working-directory: hsm-integration-test
        run: sh smoke-test.sh
