name: "Static analysis"

on: [push]

# Declare default permissions as read only.
permissions: read-all

jobs:
  static-analysis:
    name: Run static analysis
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0

      - name: Build the ledger docker image
        run: docker/ledger/build

      - name: Build the SGX docker image
        run: docker/sgx/build

      - name: Run static analysis
        id: static-analysis
        run: |
          docker/sgx/do-notty /hsm2/firmware/src/sgx "make generate-private-key"
          firmware/static-analysis/gen-static-analysis
      
      - name: Upload static analysis reports
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 #v5.0.0
        with:
          name: static-analysis-reports
          path: firmware/static-analysis/output

      - name: Report static analysis findings
        if: steps.static-analysis.outcome != 'success'
        run: |
          echo "Static analysis reported findings. Check static-analysis-reports for a complete report." \
            > $GITHUB_STEP_SUMMARY
