name: "Static analysis"

on: [push]

# Declare default permissions as read only.
permissions: read-all

jobs:
  static-analysis:
    name: Run ledger static analysis
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2

      - name: Build the ledger docker image
        run: docker/ledger/build

      - name: Run static analysis
        id: static-analysis
        run: |
          firmware/static-analysis/gen-static-analysis
      
      - name: Upload static analysis reports
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 #v4.6.2
        with:
          name: static-analysis-reports
          path: firmware/static-analysis/output

      - name: Report static analysis findings
        if: steps.static-analysis.outcome != 'success'
        run: |
          echo "Static analysis reported findings. Check static-analysis-reports for a complete report." \
            > $GITHUB_STEP_SUMMARY
